<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="study.board.mapper.ArticleMapper">
    <insert id="add" parameterType="Article">
        insert into article(title, content, user_id, category) values(#{title}, #{content}, #{userId}, #{category})
    </insert>

    <select id="findById" parameterType="int" resultType="Article">
        select * from article where id=#{articleId}
    </select>

    <select id="findNext10From" resultType="ArticleView">
        select id, title, regdate from article limit #{num}, 10
    </select>

    <select id="count" resultType="int">
        select count(*) from article;
    </select>

    <select id="getView" resultType="int">
        select views from article where id=#{articleId}
    </select>

    <update id="addView">
        update article set views=#{views} where id=#{articleId}
    </update>

    <select id="findNext10WithCategoryOrderByViews" resultType="ArticleView">
        select id, title, regdate from article where category=#{category} order by views desc limit #{num}, 10
    </select>

    <select id="findNext10WithCategoryOrderByRegDate" resultType="ArticleView">
        select id, title, regdate from article where category=#{category} order by regdate desc limit #{num}, 10
    </select>

    <select id="findNext10OrderByViews" resultType="ArticleView">
        select id, title, regdate from article order by views desc limit #{num}, 10
    </select>

    <select id="findNext10OrderByRegDate" resultType="ArticleView">
        select id, title, regdate from article order by regdate desc limit #{num}, 10
    </select>
</mapper>