<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="study.board.mapper.CommentMapper">
    <insert id="add" parameterType="Comment">
        insert into comment(article_id, content, user_id) values(#{articleId}, #{content}, #{userId})
    </insert>

    <select id="findAllByArticleId" parameterType="int" resultType="CommentView">
        select a.id, d.name, a.content, a.regdate, ifnull(likes,0) likes, ifnull(dislikes,0) dislikes from comment as a
            left join(
                select comment_id, count(likes) as likes
                from comment_likes
                where likes=1
                group by comment_id
                ) as b on a.id=b.comment_id
            left join(
                select comment_id, count(dislikes) as dislikes
                from comment_likes
                where dislikes=1
                group by comment_id
                ) as c on a.id=c.comment_id
            left join user as d
                on a.user_id=d.id where article_id=#{articleId}
    </select>

    <select id="countComments" parameterType="int" resultType="int">
        select count(*) from comment where article_id=#{articleId}
    </select>

    <select id="findByUserId" resultType="CommentMyPageView">
        select ar.id as articleId, ar.category, c.content, ifnull(cnt, 0) as likes, c.regdate
        from comment as c
            left join article as ar
                on c.article_id=ar.id
            left join (
                select count(likes) as cnt, comment_id
                from comment_likes
                where likes=1
                group by comment_id
                ) as cl
                on c.id=cl.comment_id
        where c.user_id=#{userId}
        order by regdate desc
        limit #{sLimit}, 10;
    </select>
</mapper>