<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<header th:if="${isLoggedIn}">
    <nav th:replace="~{fragment/header/navBar :: loggedIn (${curUserName})}"></nav>
</header>
<header th:unless="${isLoggedIn}">
    <div th:replace="~{fragment/header/navBar :: notLoggedIn}"></div>
</header>

<div class="w-100 d-flex mt-5 justify-content-center">
    <div id="editButton" class="w-75 d-flex justify-content-end" th:if="${isLoggedIn} and ${curUserId} eq ${article.userId}">
        <input type="button" class="btn btn-primary mx-2" value="수정" th:onclick="|location.href='@{/articles/{articleId}/edit(articleId=${articleId})}'|">
        <input type="button" value="삭제" class="btn btn-danger" th:onclick="deleteArticle()">
    </div>
</div>

<section class="mt-3 mx-auto w-75 d-flex flex-column align-items-center border border-secondary rounded">

    <div th:object="${article}" class="article w-100 px-3">
        <div class="d-flex justify-content-between my-3">
            <div th:field="*{title}" class="px-2" th:text="*{title}">title</div>
            <div th:field="*{regDate}" class="px-2" th:text="*{regDate}">regdate</div>
        </div>
        <hr class="divider m-0">
        <div class="d-flex justify-content-between my-3">
            <div th:text="${writerName}" class="px-2">writerName</div>
            <div class="viewsLikes px-2">
                Views <span th:field="*{views}" th:text="*{views}">views</span>
                Likes <span th:field="${likes}" th:text="${likes}">Likes</span>
            </div>
        </div>
        <hr class="divider m-0">
        <div class="content my-5 mx-5" style="min-height: 30vh;">
            <div id="article-content"><div th:field="*{content}" class="px-2" th:text="*{content}">regdate</div></div>
        </div>

        <div class="articleLikes d-flex my-2 justify-content-center px-2 py-3">
            <div class="likes mx-2">
                <input type="button" value="좋아요" class="btn btn-primary" th:onclick="|location.href='@{/articles/{articleId}/likes(articleId=${articleId})}'|">
                <span th:text="${likes}">12</span>
            </div>
            <div class="dislikes mx-2">
                <input type="button" value="싫어요" class="btn btn-danger" th:onclick="|location.href='@{/articles/{articleId}/dislikes(articleId=${articleId})}'|">
                <span th:text="${dislikes}">3</span>
            </div>
        </div>
        <div class="articlebtns d-flex justify-content-between px-2 my-2">
            <input type="button" value="<이전 글" class="btn btn-secondary" onclick="location.href='/'">
            <input type="button" value="목록으로" class="btn btn-secondary" onclick="location.href='/'">
            <input type="button" value="다음글>" class="btn btn-secondary" onclick="location.href='/'">
        </div>

        <hr class="divider m-0">

        <div class="comment-count my-3 mx-5">
            Comments <span th:text="${commentsCount}">7</span>
        </div>
        <hr class="divider m-0 mx-4">

        <div th:each="comment : ${comments}" class="comment">
            <div class="comment-info d-flex justify-content-between my-2 mx-5">
                <div class="userNameRegDate">
                    <span th:text="${comment.username}">username</span>
                    <span th:text="${comment.regDate}">regdate</span>
                </div>
                <div class="likesDislikes">
                    <input type="button" class="btn btn-secondary btn-sm" value="likes" th:onclick="|location.href='@{/articles/{articleId}/comment/{commentId}/likes(articleId=${articleId}, commentId=${comment.Id})}'|">
                    <span th:text="${comment.likes}">likes</span>
                    <input type="button" class="btn btn-secondary btn-sm" value="dislikes" th:onclick="|location.href='@{/articles/{articleId}/comment/{commentId}/dislikes(articleId=${articleId}, commentId=${comment.Id})}'|">
                    <span th:text="${comment.dislikes}">dislikes</span>
                </div>
            </div>
            <div class="my-2 mx-5" th:text="${comment.content}">content</div>
            <hr class="divider m-4">
        </div>

        <form method="post" th:action="@{/articles/{articleId}/comment(articleId=${articleId})}" th:object="${commentForm}" class="writeComment border rounded my-2 mx-4 px-3 py-1">
            <div class="my-1 mx-2">댓글 쓰기</div>
            <div class="comment-content d-flex align-items-center my-1">
                <textarea style="width: 98%; margin-right:2%" th:field="*{content}" ></textarea>
                <input type="submit" class="btn btn-primary btn-lg" value="등록">
            </div>
        </form>
    </div>

</section>

</body>
<script>
    function test(){
        let articleContent = '[[${article.content}]]';
        console.log(articleContent);
        document.write(articleContent);
        document.querySelector('#article-content').innerHTML = articleContent;
    }
    function deleteArticle(){
        if(confirm("글을 삭제하시겠습니까?")){
            axios.delete("/api/articles/[[${articleId}]]")
                .then(response=>{
                    window.location="/";
                })
                .catch(error=>{
                    alert(error.response.data);
                    window.history.back();
                });
        }
    }
</script>
</html>