<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function test(){
            axios.get('/')
            .then(function(response){
                alert(response);
            })
        }
    </script>
</head>

<header th:if="${isLoggedIn}">
    <div th:replace="~{fragment/header/navigationBar :: loggedIn (${currentUser.name})}"></div>
</header>
<header th:unless="${isLoggedIn}">
    <div th:replace="~{fragment/header/navigationBar :: notLoggedIn}"></div>
</header>

<body>

<h1>Board</h1>

<input type="button" value="Ajax Prototype Test" id="btn" onclick="test()">

<div>
    <input type="button" value="글 작성" th:onclick="|location.href='@{/article/write}'|">
</div>

<table>
    <th>No.</th>
    <th>Title</th>
    <th></th>
    <tr th:each="article : ${articles}">
        <td><a th:href="|/article/${article.id}|" th:text="${article.id}"></a></td>
        <td><a th:href="|/article/${article.id}|" th:text="${article.title}"></a></td>
        <td><a th:href="|/article/${article.id}|" th:text="${article.regDate}"></a></td>
    </tr>
</table>

</body>
</html>