<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <script>
        function movePage(){
            const sortBy = document.getElementById("sortBy").value;
            const category = document.getElementById("category").value;
            location.href="/?sortBy="+sortBy+"&category="+category;
        }
    </script>
</head>

<header th:if="${isLoggedIn}">
    <div th:replace="~{fragment/header/navigationBar :: loggedIn (${currentUser.name})}"></div>
</header>
<header th:unless="${isLoggedIn}">
    <div th:replace="~{fragment/header/navigationBar :: notLoggedIn}"></div>
</header>

<body>

<h1>Board</h1>

<select id="sortBy" onchange="movePage()">
    <option th:each="sortBy : ${SortBy}" th:value="${sortBy}" th:selected="${sortBy.displayValue} == ${currSortBy.displayValue}" th:text="${sortBy.displayValue}">category name</option>
</select>

<select id="category" onchange="movePage()">
    <option th:each="category : ${Categories}" th:value="${category}" th:selected="${category.displayValue} == ${currCategory.displayValue}" th:text="${category.displayValue}">category name</option>
</select>

<div>
    <input type="button" value="글 작성" th:onclick="|location.href='@{/article/write}'|">
</div>

<table>
    <th>No.</th>
    <th>Title</th>
    <th></th>
    <tr th:each="article : ${articles}">
        <td><a th:href="|/article/${article.id}|" th:text="${article.id}"></a></td>
        <td><a th:href="|/article/${article.id}|" th:text="${article.title}"></a></td>
        <td><a th:href="|/article/${article.id}|" th:text="${article.regDate}"></a></td>
    </tr>
</table>

<span th:text="${totalPages}"></span>

</body>
</html>