<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<h1>게 시 판</h1>

<h4>로그인</h4>

<form method="post" th:object="${loginForm}" onsubmit="login(event)">
  <div th:if="${#fields.hasGlobalErrors()}">
    <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
  </div>

  <table>
    <tr>
      <td> 아이디 </td>
      <td> <input type="text" th:field="*{loginId}" > </td>
      <td> <div class="loginId-error"></div> </td>
    </tr>
    <tr>
      <td> 비밀번호 </td>
      <td> <input type="password" th:field="*{password}" th:errorclass="field-error"> </td>
      <td> <div class="password-error"></div> </td>
    </tr>
  </table>
  <div class="error-message"></div>
  <div>
    <input type="submit" value="로그인">
    <input type="button" value="취소" th:onclick="|location.href='@{/}'|">
  </div>
</form>
</body>
<script>
  function login(e){
    e.preventDefault();
    const loginId = document.querySelector('#loginId').value;
    const password = document.querySelector('#password').value;

    axios.post('/api/login', {"loginId" : loginId, "password" : password}, {
      headers: {
        'Content-Type': 'application/json'}})
    .then(response => {
      alert("success");
      window.location="/";
    })
    .catch(error => {
      clearErrorMessage()
      console.log(error.response.data);
      const data = error.response.data;
      console.log(data);
      if(data.fieldErr!=undefined){
        if(data.fieldErr.loginId!=undefined){
          document.querySelector('.loginId-error').innerHTML = data.fieldErr.loginId;
        }
        if(data.fieldErr.password!=undefined){
          document.querySelector('.password-error').innerHTML = data.fieldErr.password;
        }
      }
      if(data.message!=undefined){
        document.querySelector('.error-message').innerHTML = data.message;
      }
    });
  }
  function clearErrorMessage(){
    document.querySelector('.loginId-error').innerHTML = "";
    document.querySelector('.password-error').innerHTML = "";
    document.querySelector('.error-message').innerHTML = "";
  }
</script>
</html>